.DS_Store

build/

md_vega_mm_2023_spring/
PDFs/
report/document.pdf
Conference 2023 Materials/poster/poster.pdf
Conference 2023 Materials/presentation/presentation.pdf

.idea
data_parsing/target/

data_parsing/data/USD_RUB_T+1__2022-11-10_PQ_ask.tsv
data_parsing/data/USD_RUB_T+1__2022-11-10
data_parsing/data/USD_RUB_T+1__2022-11-10_PQ_bid.tsv
data_parsing/data/USD_RUB_T+1__2022-11-10_QdP_ask.tsv
data_parsing/data/USD_RUB_T+1__2022-11-10_QdP_bid.tsv

data/

optexec/__pycache__
optexec/.pytest_cache

backup.py

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.ini
*.lot
*.lof
*.pyc
*.pygtex
*.pygstyle

_minted-*